params {
    input = "$launchDir/input"
    outDir = "$launchDir/results"
    genomeFileName = "PlasmoDB-68_Pfalciparum3D7_Genome.fasta"
    proteinFileName = "PlasmoDB-68_Pfalciparum3D7_AnnotatedProteins.fasta"
    ncbiTaxId = 5833
    buscoDownloadsDir = "$launchDir/busco_downloads"
    lineageMappingFile = "$projectDir/lineage_dataset_map.txt"
    skipProteomeAnalysis = false
}

includeConfig "$baseDir/conf/docker.config"
