singularity.enabled     = true
singularity.autoMounts  = true
docker.enabled          = false
singularity.runOptions  = "--bind ${params.buscoDownloadsDir}:/busco_downloads"

process {
    executor = 'lsf'
    queue = 'normal'

    maxRetries = 2
    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'finish' }
    clusterOptions = {
            def clusterOpts = '';
            switch (task.attempt) {
                case 1:
                    clusterOpts = '-M 6000 -n 10 -R "rusage [mem=6000] span[hosts=1]"'
                    break
                case 2:
                    clusterOpts = '-M 12000 -n 10 -R "rusage [mem=12000] span[hosts=1]"'
                    break
                case 3:
                    clusterOpts = '-M 24000 -n 10 -R "rusage [mem=24000] span[hosts=1]"'
                    break
                default:
                    clusterOpts = '-M 6000 -n 10 -R "rusage [mem=6000] span[hosts=1]"'
            }
            return clusterOpts;
    }
